*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.google.com/specimen/Poppins');
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.shadow{
  box-shadow: 0 6px  rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 0.2rem 0.25rem 3px rgba(0, 0, 0, 0.2); */
}
body{
  background:hsl(0, 100%, 74%) url(./resources/bg-intro-desktop.png);
  font-family: Poppins;
  font-size: 16px;
  color: white;
}
h1{
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}
#container{
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
}
.column{
  padding: 100px 0px;
  width: 450px;
}

/* registration page */
#form-header{
  padding: 12px 20px;
  margin: 10px 0;
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  border: none;
  text-align: center;
  border-radius: 5px;
}
#form-header span{
  font-weight: 700;
}
#registration-page {
  /* width: 400px; */
  border-radius: 5px;
  background-color: white;
  padding:30px 20px;
  margin-top: 15px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  cursor: pointer;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 5px;
  color: white;
}
button:hover{
  background-color: hsl(154, 64%, 66%);

}
a{
  text-decoration: none;
  color: hsl(0, 100%, 74%) ;
}
.small-text{
  font-size: 12px;
  text-align: center;
  color: hsl(246, 25%, 77%);
}
.error-message{
  display: none;
  color: hsl(0, 100%, 74%);
  text-align: right;
  font-size: 12px;
  line-height: 0.5;
  margin-top: -3px;
  margin-bottom: 10px;
}
.error{
  border: 2px solid hsl(0, 100%, 74%);

}

/* Moblie View */
@media (max-width:375px){
  body{
    background:hsl(0, 100%, 74%) url(./resources/bg-intro-mobile.png);
 
  }
  h1{
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
  }
  #content-1 p{
    text-align: center;
  }
  #container{
    flex-direction: column;
  }
  .column{
    width: 300px;
    padding: 25px;
  }
  /* ul{
    justify-content: center;
  } */

}
